<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- FUENTES -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital@1&display=swap"
      rel="stylesheet"
    />

    <!-- CSS -->
    <link rel="stylesheet" href="/css/style_main.css" />
    <link rel=" stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/style_gallery.css" />

    <!-- SCRIPTS -->
    <script
      src="https://kit.fontawesome.com/41bcea2ae3.js"
      crossorigin="anonymous"></script>

    <title>Galeria</title>
    <link rel="shortcut icon" href="/img/hotel.ico" />
  </head>

  <body>
    <!-- INICIO DEL HEADER -->
    <hgroup>
      <header>
        <!-- DIV PARA EL LOCO ENCABEZADO -->
        <div class="header-img"></div>
        <!-- BARRA DE NAVEGACION -->
        <nav class="content-nav" id="navbar">
          <ul class="menu">
            <li><a href="/src/pages/index.astro">Inicio</a></li>
            <li><a href="/src/pages/informacion.astro">Información</a></li>
            <li><a href="/src/pages/galeria.astro">Galeria</a></li>
            <li><a href="/src/pages/contactenos.astro">Contáctenos</a></li>
          </ul>
        </nav>
      </header>
    </hgroup>
    <!-- FIN DEL HEADER -->

    <!-- INICIO DEL MAIN -->
    <main>
      <section class="banner">
        <div class="contenedor-banner">
          <div class="contenedor-banner-teximg">
            <h1>GALERIA</h1>
          </div>
        </div>
      </section>
      <section class="contenedor-main-3">
        <div class="contenedor-galeria-3">
          <div class="img11 content-img">
            <img
              src="/img/teg_lm/img (17).jpeg"
              alt="imagen11"
              loading="lazy"
            />
            <div class="capa">
              <h3>Imagen 1</h3>
            </div>
          </div>
          <div class="img12 content-img">
            <img
              src="/img/teg_lm/img (18).jpeg"
              alt="imagen12"
              loading="lazy"
            />
            <div class="capa">
              <h3>Imagen 2</h3>
            </div>
          </div>
          <div class="img13 content-img">
            <img
              src="/img/teg_lm/img (16).jpeg"
              alt="imagen13"
              loading="lazy"
            />
            <div class="capa">
              <h3>Terreno</h3>
            </div>
          </div>
        </div>
      </section>
      <section class="contenedor-main-1">
        <div class="contenedor-galeria-1">
          <div class="img1 content-img">
            <img
              src="/img/teg_lm/img (8).jpeg"
              alt="puerta_lujosa"
              loading="lazy"
            />
            <div class="capa">
              <h3>Acabados lujosos</h3>
            </div>
          </div>
          <div class="img2 content-img">
            <img src="/img/teg_lm/img (10).jpeg" alt="imagen2" loading="lazy" />
            <div class="capa">
              <h3>Puertas elegantes</h3>
            </div>
          </div>
          <div class="img4 content-img">
            <img src="/img/teg_lm/img (12).jpeg" alt="imagen3" loading="lazy" />
            <div class="capa">
              <h3>Vistas hermosas</h3>
            </div>
          </div>
          <div class="img3 content-img">
            <img src="/img/teg_lm/img (4).jpeg" alt="imagen4" loading="lazy" />
            <div class="capa">
              <h3>Casa completa</h3>
            </div>
          </div>
          <div class="img5 content-img">
            <img src="/img/teg_lm/img (1).jpeg" alt="imagen5" loading="lazy" />
            <div class="capa">
              <h3>Alrededores</h3>
            </div>
          </div>
        </div>
      </section>

      <section class="contenedor-main-2">
        <div class="contenedor-galeria-2">
          <div class="img6 content-img">
            <img src="/img/teg_lm/img (13).jpeg" alt="imagen6" loading="lazy" />
            <div class="capa">
              <h3>Vegetación</h3>
            </div>
          </div>
          <div class="img7 content-img">
            <img src="/img/teg_lm/img (14).jpeg" alt="imagen7" loading="lazy" />
            <div class="capa">
              <h3>Accesos</h3>
            </div>
          </div>
          <div class="img8 content-img">
            <img src="/img/teg_lm/img (2).jpeg" alt="imagen8" loading="lazy" />
            <div class="capa">
              <h3>Casa completa</h3>
            </div>
          </div>
          <div class="img9 content-img">
            <img src="/img/teg_lm/img (15).jpeg" alt="imagen9" loading="lazy" />
            <div class="capa">
              <h3>Sub</h3>
            </div>
          </div>
          <div class="img10 content-img">
            <img src="/img/teg_lm/img (7).jpeg" alt="imagen10" loading="lazy" />
            <div class="capa">
              <h3>Pasillos externos</h3>
            </div>
          </div>
        </div>
      </section>

      <section class="contenedor-main-4">
        <div class="contenedor-galeria-4">
          <div class="N6 content-img">
            <img
              src="/img/teg_lm/img (6).jpeg"
              alt="puerta_lujosa"
              loading="lazy"
            />
            <div class="capa">
              <h3>Lava manos</h3>
            </div>
          </div>
          <div class="N3 content-img">
            <img src="/img/teg_lm/img (3).jpeg" alt="imagen2" loading="lazy" />
            <div class="capa">
              <h3>Habitación</h3>
            </div>
          </div>
          <div class="N5 content-img">
            <img src="/img/teg_lm/img (5).jpeg" alt="imagen3" loading="lazy" />
            <div class="capa">
              <h3>Baños</h3>
            </div>
          </div>
          <div class="N19 content-img">
            <img src="/img/teg_lm/img (19).jpeg" alt="imagen4" loading="lazy" />
            <div class="capa">
              <h3>Casa completa</h3>
            </div>
          </div>
          <div class="N9 content-img">
            <img src="/img/teg_lm/img (9).jpeg" alt="imagen5" loading="lazy" />
            <div class="capa">
              <h3>Alrededores</h3>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- FINAL DEL MAIN -->

    <!-- Modal -->
    <div id="modal" class="modal">
      <span class="close">&times;</span>
      <img class="modal-content" id="imgModal" />
      <div id="caption"></div>
    </div>

    <script src="/js/gallery.js"></script>
    <!-- Modal para visualizar la imagen en tamaño real -->
  </body>

  <footer>
    <div class="container__footer">
      <div class="box__footer" id="footer_principal_content">
        <h2>Menu de navegación</h2>
        <a href="/src/pages/index.astro">Pagina principal</a>
        <a href="/src/pages/informacion.astro">Informacion</a>
        <a href="/src/pages/galeria.astro">Galeria</a>
        <a href="/src/pages/contactenos.astro">Contacto</a>
      </div>

      <div class="box__footer">
        <h2>Redes Sociales</h2>
        <a href="#"> <i class="fab fa-facebook-square"></i> Facebook</a>
        <a href="#"> <i class="fa-brands fa-square-google-plus"></i> Google</a>
        <a href="#"><i class="fab fa-twitter-square"></i> Twitter</a>
        <a href="#"><i class="fab fa-linkedin"></i> Linkedin</a>
      </div>

      <div class="box__footer">
        <h2></h2>
        <div class="logo">
          <img src="/img/logo.png" alt="logo_footer" />
        </div>
      </div>
    </div>

    <div class="box__copyright">
      <hr />
      <p>Todos los derechos reservados © 2024 <b>HelloHome Honduras</b></p>
    </div>
  </footer>
  <script is:inline src="/public/js/fijar.js"></script>
</html>
